apigw-lambda/.terraform*
apigw-lambda/terraform.tfstate*
elasticsearch/.terraform*
elasticsearch/terraform.tfstate*
s3-backend/.terraform*
s3-backend/terraform.tfstate*
s3-bucket/.terraform*
s3-bucket/terraform.tfstate*
secrets-manager/terraform.tfstate*
secrets-manager/.terraform*
kinesis-lambda-dynamodb/.terraform*
kinesis-lambda-dynamodb/terraform.tfstate*
kinesis-lambda-dynamodb/lambda/order-processor/deployment_package.zip
volume/*
